/*
  Megamenu styles
*/
.nav .megamenu {
  float: left;
}
.nav .search {
  width: 245px;
  margin: 3px 0 0;
  float: right;
}
.megamenu {
  font-size: 0;
}
.megamenu-level-1 {
  margin: 0 0 0 15px;
}
.megamenu-level-1:hover > .megamenu-item-label-link {
  text-decoration: underline;
}
.megamenu-level-1:hover > ul {
  display: block;
}
.megamenu-level-1.active {
  background: #5bb8f6;
}
.megamenu-level-1.active > .megamenu-item-label-link {
  color: #fff;
  opacity: 1;
  text-decoration: none;
}
.megamenu-level-1.active > ul {
  display: block;
}
.megamenu-level-1:first-child {
  margin-left: 0;
}
.megamenu-level-1 > .megamenu-item-label-link {
  padding: 9px 15px 8px;
  color: #e0e0e0;
  font: 12px/16px 'Roboto', sans-serif;
  text-transform: uppercase;
}
.megamenu-level-1 > .megamenu-item-label-link span {
  text-decoration: inherit;
}
.megamenu-level-1 > ul {
  width: 100%;
  border-bottom: 2px solid #D4D4D4;
  box-shadow: 0 1px 5px #E4E4E4;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
}
.megamenu-level-2 {
  min-width: 990px;
  max-width: 1260px;
  margin: 0 auto;
  color: #454444;
  font: 13px/16px 'Roboto', sans-serif;
}
.megamenu-level-3 > .megamenu-item-label-link,
.megamenu-level-5 > .megamenu-item-label-link {
  padding: 14px 30px 13px;
  display: block;
}
.megamenu-level-4 > ul {
  border: solid #f7f7f7;
  border-width: 0 1px;
}
.megamenu-level-5 > ul {
  padding: 1px 20px 17px;
  font-size: 0;
}
.megamenu-level-5 > .megamenu-item-label-link {
  margin-right: -5px;
}
.megamenu-level-6 {
  width: 50%;
  position: relative;
  display: inline-block;
  vertical-align: top;
  font: 13px/16px 'Roboto', sans-serif;
}
.megamenu .megamenu-has-stack {
  margin: 16px 0 0;
}
.megamenu .megamenu-has-stack > .megamenu-item-label-link {
  margin: 0 0 13px;
  padding: 0 0 9px;
  border-bottom: 1px solid #f5f5f5;
  display: block;
}
.megamenu .megamenu-active > ul {
  display: block;
}
.megamenu-tabs {
  position: relative;
}
.megamenu-tabs > ul > li:hover > ul {
  display: block;
}
.megamenu-tabs > ul > li:hover,
.megamenu-tabs > ul > li.megamenu-active {
  background: #f7f7f7;
}
.megamenu-tabs > ul > li:hover > .megamenu-item-label-link,
.megamenu-tabs > ul > li.megamenu-active > .megamenu-item-label-link {
  position: relative;
}
.megamenu-tabs > ul > li:hover > .megamenu-item-label-link:before,
.megamenu-tabs > ul > li.megamenu-active > .megamenu-item-label-link:before {
  width: 5px;
  height: 6px;
  margin: -3px 0 0;
  background: transparent url(../img/icons.png) 0 -844px no-repeat;
  position: absolute;
  top: 50%;
  right: 10px;
  content: "";
}
.megamenu-tabs > ul > li > ul {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.megamenu-tabs-left > ul > li > ul {
  left: auto;
  right: 0;
}
.megamenu-column {
  display: inline-block;
  vertical-align: top;
}
/*.megamenu-tabs-left > ul > li > ul {
	right: 0;
}*/
.megamenu-mega {
  /*float: left;
	position: relative;
	border: 1px solid #000;*/
}
.megamenu-mega > ul {
  /*display: none;
	position: absolute;
	width: 100%;
	background: #e4e4e4;
	border: 1px solid #000;*/
}
/*.megamenu-mega:hover > ul, .megamenu-active > ul{
	display: block;
}*/
.megamenu-clear {
  clear: both;
}
.megamenu-item-header > a {
  /*display: block;
	font-weight: bold;*/
}
/*.megamenu-item-header.megamenu-has-stack > a{
	border-bottom: 1px solid #f00;
}*/
.megamenu-col-1-1 {
  width: 100%;
}
.megamenu-col-1-2 {
  width: 50%;
}
.megamenu-col-1-3 {
  width: 33.33%;
}
.megamenu-col-2-3 {
  width: 66.66%;
}
.megamenu-col-1-4 {
  width: 25%;
}
.megamenu-col-3-4 {
  width: 75%;
}
.megamenu-col-1-5 {
  width: 20%;
}
.megamenu-col-2-5 {
  width: 40%;
}
.megamenu-col-3-5 {
  width: 60%;
}
.megamenu-col-4-5 {
  width: 80%;
}
.megamenu-col-1-6 {
  width: 16.66%;
}
.megamenu-col-5-6 {
  width: 83.33%;
}
.megamenu-col-1-7 {
  width: 14.28%;
}
.megamenu-col-2-7 {
  width: 28.57%;
}
.megamenu-col-3-7 {
  width: 42.85%;
}
.megamenu-col-4-7 {
  width: 57.14%;
}
.megamenu-col-5-7 {
  width: 71.42%;
}
.megamenu-col-6-7 {
  width: 85.71%;
}
.megamenu-col-1-8 {
  width: 12.5%;
}
.megamenu-col-3-8 {
  width: 37.5%;
}
.megamenu-col-5-8 {
  width: 62.5%;
}
.megamenu-col-7-8 {
  width: 87.5%;
}
.megamenu-col-1-9 {
  width: 11.11%;
}
.megamenu-col-2-9 {
  width: 22.22%;
}
.megamenu-col-4-9 {
  width: 44.44%;
}
.megamenu-col-5-9 {
  width: 55.55%;
}
.megamenu-col-7-9 {
  width: 77.77%;
}
.megamenu-col-8-9 {
  width: 88.88%;
}
.megamenu-col-1-10 {
  width: 10%;
}
.megamenu-col-3-10 {
  width: 30%;
}
.megamenu-col-7-10 {
  width: 70%;
}
.megamenu-col-9-10 {
  width: 90%;
}
.megamenu-col-1-11 {
  width: 9.09%;
}
.megamenu-col-2-11 {
  width: 18.18%;
}
.megamenu-col-3-11 {
  width: 27.27%;
}
.megamenu-col-4-11 {
  width: 36.36%;
}
.megamenu-col-5-11 {
  width: 45.45%;
}
.megamenu-col-6-11 {
  width: 54.54%;
}
.megamenu-col-7-11 {
  width: 63.63%;
}
.megamenu-col-8-11 {
  width: 72.72%;
}
.megamenu-col-9-11 {
  width: 81.81%;
}
.megamenu-col-10-11 {
  width: 90.9%;
}
.megamenu-col-1-12 {
  width: 8.33%;
}
.megamenu-col-5-12 {
  width: 41.66%;
}
.megamenu-col-7-12 {
  width: 58.33%;
}
.megamenu-col-11-12 {
  width: 91.66%;
}
.list-block {
  color: #717171;
  font: 12px/16px 'Roboto', sans-serif;
}
.list-block.horizontal ul {
  margin: -4px -5px 0;
}
.list-block.horizontal ul li {
  width: auto;
  padding: 0 5px;
}
.list-block ul {
  margin: -4px -10px 0;
  font-size: 0;
}
.list-block ul li {
  width: 33.33333%;
  margin: 4px 0 0;
  padding: 0 10px;
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
}
/*.nav {
	margin: 0 0 45px;

	&-wr {
		background: #252728 url(../img/bg_nav.png) 0 0 repeat;
	}

	nav {
		width: 100%;
		border-right: 1px solid #fff;
		position: relative;
		display: inline-table;

		> ul {
			display: table-row;

			> li {
				border-left: 1px solid #fff;
				display: table-cell;

				&:hover, &.active {

					> a {
						background: #fff;
						opacity: 1;
						color: #333333;
					}

					ul {
						left: 0;
					}
				}

				> a {
					width: 100%;
					padding: 0 5px;
					color: #dfe0e0;
					line-height: 32px;
					text-align: center;

					&:hover {
						background: #fff;
						opacity: 1;
						z-index: 13;
						color: #333333;
					}

					.align {
						font: 12px/14px @font;
						text-transform: uppercase;
					}
				}

				> ul {
					width: 100%;
					background: #ffffff;
					padding: 0 0 17px;
					border-bottom: 1px solid #f3f3f3;
					transition: left 0s ease 0.3s;
					position: absolute;
					top: 100%;
					left: -9999px;
					z-index: 12;
					color: #666666;
					font: 300 14px/18px @font;

					> li {
						width: 25%;
						margin: 31px -3px 0;
						padding: 0 40px;
						border-left: 1px solid #f3f3f3;
						display: inline-block;
						vertical-align: top;

						&:first-child, &:nth-child(4n + 1) {
							border-left: none;
						}

						ul {

							li {
								margin: 5px 0 0;

								&:first-child {
									margin: 0 0 13px;
									font: 16px/20px @font;

									a {
										padding: 1px 0;

										&:before {
											width: 125px;
											height: 1px;
											background: #ace3ff;
											position: absolute;
											top: 100%;
											left: 0;
											content: "";
										}
									}
								}

								&.name {

								}

								&.active {
									color: #5bb8f6;
								}

								a {
									position: relative;

									&:hover {
										opacity: 1;
										color: #5bb8f6;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}*/
